.update-profile {
  padding-top: 120px;
}

.update-profile .bg-img {
  /* height:518px; */
  width: 100%;
}

input[type='radio'] {
  width: 85px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='radio']:focus {
  outline: none;
  background-color: #edeff4;
}

input[type='radio']:checked {
  border: 1px solid #494989;
  color: #494989;
  background-color: #edeff4;
}

input[type='radio']:checked ~ span:first-of-type {
  color: #494989;
}

.register-text-update {
  margin-left: 7%;
  font-size: 25px;
}

.image-upload > input {
  display: none;
}

.image-upload {
  border-radius: 50%;
  width: 94px;
  height: 94px;
}

.form-wrapper1 {
  border-radius: 50px;
  background-color: #edeff4;
  /* margin-top: 60px; */
  padding: 12px 94px;
}

.form-wrapper12 {
}

.form-wrapper12 input[type='email'],
.form-wrapper12 input[type='date'],
.form-wrapper12 input[type='text'],
.form-wrapper12 input[type='password'] {
  background-color: white;
  border-radius: 50px;
  border: none;
}

.form-wrapper12 label {
  margin-top: 22px;
  color: #292626;
  font-size: 17px;
  font-weight: 700;
}

.submit-btn {
  background-color: #494989;
  color: var(--theme-text-color);
  border-radius: 52px;
  font-family: 'Avenir';
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin-top: 26px;
  border: 0px;
  width: 316px;
  height: 69px;
  font-size: 19px;
  font-weight: 600;
  box-shadow: 0px 3px 6px #00000029;
}

.edit-profile {
}

.edit-profile .upload-text {
  color: #5958a6;
  font-size: 17px;
  padding-top: 8px;
  font-weight: 500;
}

.gender {
  margin-top: 0 !important;
}

.update-gender input[type] {
  width: 94px;
  height: 54px !important;
  border-radius: 32px !important;
}

.update-gender span {
  /* top: 20px !important; */
  /* left: 24px !important; */
}

.mt-0 {
  margin-top: 0 !important;
}

.d-none-alert {
  display: none;
}

.calendar {
  padding: 8px;
  background: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid #333333;
  box-shadow: 0px 20px 40px rgba(59, 60, 56, 0.05);
}

.ui-datepicker {
  background: #ffffff;
  border-radius: 15px;
}

.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background: #31639c;
  margin-bottom: 10px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}

.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}

.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}

.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #333333;
}

.ui-datepicker-title {
  text-align: center;
  font-size: 25px;
  padding-top: 14px;
}

.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}

.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 40px;
  color: #31639c;
  margin-bottom: 5px;
  font-size: 18px;
}

.ui-state-default {
  display: block;
  text-decoration: none;
  color: #333333;
  line-height: 40px;
  font-size: 16px;
}

.ui-state-default:hover {
  color: #ffffff;
  background: #31639c;
  border-radius: 50px;
  transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
}

.ui-state-highlight {
  color: #ffffff;
  background-color: #31639c;
  border-radius: 50px;
}

.ui-state-active {
  color: #ffffff;
  background-color: #31639c;
  border-radius: 50px;
}

.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}

.icon {
  margin-left: -30px;
  margin-top: -26px;
  position: relative;
  color: #31639c;
  font-size: 20px;
}

.date-picker-icon {
  position: relative;
}

.date-picker-icon i {
  position: absolute;
  bottom: 14px;
  right: 22px;
  font-size: 18px !important;
}

.ui-datepicker-month {
  color: #fff;
  background: transparent;
  border: none;
  font-size: 18px;
}

.ui-datepicker-year {
  color: #fff;
  background: transparent;
  border: none;
  font-size: 18px;
  /* height: 100px; */
}

.ui-datepicker-title option {
  color: #000;
  font-size: 14px;
}

@media (max-width: 575px) {
  .alert-card {
    top: 0px !important;
    width: 100% !important;
  }

  .ui-datepicker-title {
    padding-top: 14px;
    font-size: 18px;
  }

  .ui-datepicker-calendar thead tr th span {
    text-align: center;
  }

  .ui-state-default {
    line-height: 36px;
    font-size: 14px;
  }

  .ui-datepicker-header {
    height: 46px;
  }
}
